/* ----------------------------- */
/* BASIC SETUP */
/* ----------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  color: rgb(1, 0, 56);
}

html {
  /* background-color: rgb(179, 223, 198); */
  font-family: "Lato", "Arial", sans-serif;
  /* this is the imported font */
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-color: #00e1ff25;
  background-image: url("../images/contain.jpeg");
  background-size: contain;
}
h3 {
  color: rgb(0, 70, 0);
}

h5 {
  padding-top: 15px;
  color: rgb(0, 70, 0);
  padding-bottom: 5px;
}

/* ----------------------------- */
/* NAVIGATION */
/* ----------------------------- */
.main-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-end;
  padding-right: 10px;
  margin-top: 20px;
  /* justify-content: right; */
}

.main-nav li {
  /* this selects all li elements in .main-nav */
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  /* this selects the a tags inside each .main-nav li element */
  /* padding: 8px 0; */
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid rgb(0, 12, 122);
}

#nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  width: 100%;
  grid-area: nav;
}

/* ----------------------------- */
/* MAIN GRID & FLEX */
/* ----------------------------- */

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 5vh 10vh 70vh 10vh;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
  grid-gap: 5px;
  padding: 10px;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #fff; */
  /* border: 0.5px groove rgb(94, 2, 2); */
}

#b1 {
  order: 1;
  grid-area: header;
  /* justify-content: center; */
}

#b2 {
  order: 2;
  grid-area: main;
  /* justify-content: center;
    align-items: center; */
  background-image: url("../images/code2.jpeg");
  background-size: cover;
}

#b3 {
  order: 3;
  grid-area: sidebar;
  justify-content: center;
  align-items: center;
  background-image: url("../images/code2.jpeg");
  background-size: cover;
}

#b4 {
  order: 4;
  grid-area: footer;
  justify-content: center;
  align-items: center;
}

/* ----------------------------- */
/* FEATURE FLEX */
/* ----------------------------- */

.feature {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0 20px;
  /* background-color: #fff; */
  width: 92%;
  height: 93%;
  border: 0.5px dashed rgb(94, 2, 2);
  background-color: rgba(255, 255, 255, 0.94);
  padding-right: 5px;
  align-items: center;
  margin-top: 20px;
  /* color: #000; */
  /* align-items: flex-end; */
}

.rm {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
}

.rm:hover {
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
}

/* ----------------------------- */
/* AUTHOR FLEX */
/* ----------------------------- */
.author {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 96%;
  border: 0.5px dashed rgb(0, 70, 0);
  background-color: rgba(255, 255, 255, 0.96);
  color: #000;
  /* align-items: flex-end; */
  /* font-weight: bold; */
  /* justify-content: center; */
}

.author img {
  height: 200px;
  width: 200px;
  align-self: center;
  border-radius: 50%;
  border: rgb(0, 70, 0) 1px solid;
}

.author-info {
  padding-top: 10px;
  padding-left: 20px;
}

.author h4 {
  color: rgb(0, 70, 0);
}

.author-head {
  padding-top: 20px;
  padding-bottom: 10px;
  align-self: center;
}

.author-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  padding-right: 10px;
  padding-bottom: 30px;
  /* margin-top: 20px; */
  /* justify-content: right; */
}

.author-nav li {
  /* this selects all li elements in .main-nav */
  display: inline-block;
  margin-left: 40px;
}

.author-nav li a:link,
.author-nav li a:visited {
  /* this selects the a tags inside each .main-nav li element */
  /* padding: 8px 0; */
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.author-nav li a:hover,
.author-nav li a:active {
  border-bottom: 2px solid rgb(0, 12, 122);
}

.icons {
  display: flex;
  flex-direction: row;
  padding-left: 150px;
}

#fb {
  color: blue;
  padding-right: 20px;
}

#tw {
  color: lightblue;
  padding-right: 20px;
}

#ig {
  color: purple;
}
