/* ----------------------------- */
/* BASIC SETUP */
/* ----------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  color: rgb(1, 0, 56);
}

html {
  /* background-color: rgb(179, 223, 198); */
  font-family: "Lato", "Arial", sans-serif;
  /* this is the imported font */
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-color: #00e1ff25;
  background-image: url("../images/contain.jpeg");
  background-size: contain;
}

/* ----------------------------- */
/* NAVIGATION */
/* ----------------------------- */
.main-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-end;
  padding-right: 10px;
  margin-top: 20px;
  /* justify-content: right; */
}

.main-nav li {
  /* this selects all li elements in .main-nav */
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  /* this selects the a tags inside each .main-nav li element */
  /* padding: 8px 0; */
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid rgb(0, 12, 122);
}

#nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  width: 100%;
  grid-area: nav;
}
